<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <!-- Font Link Inter -->
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@400;600;700&display=swap" rel="stylesheet" />
    <!-- CSS Link -->
    <link rel="stylesheet" href="login.scss" />
    <title>Login Card</title>
  </head>
  <body>
    <!-- login Card Wrapper -->
    <div class="wrapper">
      <div class="login">
        <!-- name -->
        <div class="login__header">Masuk</div>
        <div class="login__google">
          <!-- ICON DISINIIIIIIIIIIIIIIII -->
          <a href="#">
            <img src="../img/Google Icon.svg" alt="google" />
            <span>Masuk Dengan Google</span>
          </a>
        </div>
        <div class="login__line"></div>
        <!-- email input -->
        <form action="#">
          <div class="login__email">
            <input type="text" placeholder="Email" required />
            <div class="login__icon"></div>
          </div>
          <div class="login__pass">
            <input type="password" placeholder="Kata Sandi" required />
            <div class="login__icon"></div>
          </div>
          <!-- Ingat saya chck box -->
          <div class="login__box">
            <input type="checkbox" />
            <span>Ingat Saya</span>
          </div>
          <!-- Login Button -->
          <div class="login__button">
            <input type="submit" value="Masuk" />
          </div>
        </form>

        <!-- Lupa Password -->
        <div class="login__forgot">
          <a href="#">lupa password?</a>
        </div>
        <!-- Break Line -->
        <div class="login__line"></div>
        <!-- Tidak Punya Akun  -->
        <div class="login__sign">
          <div>Tidak Punya Akun?</div>
          <a href="#">Daftar</a>
        </div>
      </div>
    </div>
  </body>
</html>
