<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <!-- Font Link Inter -->
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@400;600;700&display=swap" rel="stylesheet" />
    <!-- CSS Link -->
    <link rel="stylesheet" href="style.css" />
    <title>Daftar</title>
  </head>
  <body>
    <!-- Sign  Card Wrapper -->
    <div class="wrapper">
      <div class="conf">
        <!-- name -->
        <div class="conf__header">Kata Sandi Baru</div>

        <!-- email input -->
        <form action="#">
          <div class="conf__text">Buat kata samdi yang kuat untuk akun dengan alamat email xyz@gmail.com</div>
          <div class="conf__pass">
            <input type="password" placeholder="Kata Sandi Baru" required />
            <div class="conf__icon"></div>
          </div>
          <div class="conf__pass">
            <input type="password" placeholder="Konfirmasi Kata Sandi" required />
            <div class="conf_icon"></div>
          </div>
          <div class="conf__text">Setelah kata sandi diubah , silahkan masuk kembali dengan kata sandi baru</div>
          <!-- pass Button -->
          <div class="conf__button">
            <input type="submit" value="Submit" />
          </div>
        </form>
      </div>
    </div>
  </body>
</html>
