//Custom Property
:root {
  //Blue
  --clr-primary-700: #1236aa;
  --clr-primary-400: #598cf4;
  --clr-primary-200: #a7c9fd;
  //White
  --clr-neutral-100: #ffffff;

  //Font
  --ff-primary: 'Inter', sans-serif;
  --fs-primary-700: 700;
  --fs-primary-600: 600;
  --fs-primary-400: 400;
}

// CSS Reset
*,
*::before,
*::after {
  box-sizing: border-box;
}

body,
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
  padding: 0;
  font-family: var(--ff-primary);
}

// Font Setting (Biar Ga Diulang2 aja)
div {
  font-size: 0.875rem;
}

//Placeholder
::placeholder {
  color: var(--clr-primary-200);
  //   transform: translateX(5%);
}
// ======= STYLING ===========
html,
body {
  background: var(--clr-neutral-100);
}

.wrapper {
  display: grid;
  height: 100vh;
  place-items: center;
}

.sign {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 85%;
  max-width: 600px;
  background: var(--clr-neutral-100);
  margin-inline: auto;
  padding: 1.25rem 3rem;
  border-radius: 0.5rem;
  box-shadow: 5px 5px 10px rgba(0, 103, 199, 0.158);

  //INPUT BOX
  &__header {
    font-weight: var(--fs-primary-700);
    font-size: 1.75rem;
    color: var(--clr-primary-700);
    margin-bottom: 1.75rem;
  }

  //GOOGLE SIGN
  &__google > a {
    text-decoration: none;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: red;
    height: 3.125rem;
    gap: 1em;
    font-size: 1rem;
    font-weight: var(--fs-primary-600);
    border: 1px solid var(--clr-primary-200);
    border-radius: 8px;
    color: var(--clr-primary-200);
    background-color: var(--clr-neutral-100);
  }

  //SIGN LINE
  &__line {
    height: 1px;
    width: 100%;
    background-color: var(--clr-primary-200);
    margin-top: 2em;

    &--neutral {
      margin: 1em auto;
    }
  }

  // INPUT FORM
  &__nama > input,
  &__email > input,
  &__pass > input {
    color: var(--clr-primary-400);
    height: 2.625rem;
    width: 100%; //notice
    outline: none;
    border: 1px solid var(--clr-primary-200);
    border-radius: 6px;
    margin: 1em auto 0;
    padding-inline: 1.2rem;
    display: block;
    // transition: all 0.3s ease;
  }

  //INGAT SAYA CHECK BOX
  &__box {
    display: flex;
    align-items: center;
    margin-top: 1rem;
  }

  &__box > input {
    width: 20px;
    height: 20px;
    border: 1px solid var(--clr-primary-200);
  }

  &__box > span {
    color: var(--clr-primary-700);
    margin-left: 0.3125rem;
  }
  //FORGOT BUTTON COY
  &__forgot {
    margin-top: 1em;
    text-align: center;
    // font-weight: var(--clr-primary-600);
  }

  &__forgot > * {
    color: var(--clr-primary-700);
    font-weight: var(--fs-primary-600);
    text-decoration: none;
  }

  //SIGN BUTTON

  &__button > input {
    width: 100%;
    margin-top: 1rem;
    height: 3.125rem;
    padding-left: 0;
    background: var(--clr-primary-400);
    color: var(--clr-neutral-100);
    border: none;
    font-size: 1rem;
    font-weight: var(--fs-primary-600);
    cursor: pointer;
    border-radius: 8px;
    text-align: center;
    // transition: all 0.3s linear;
  }

  &__break {
    display: block;
    margin: 1rem auto;
  }

  &__sign {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: var(--clr-primary-700);
  }

  &__sign > a {
    text-decoration: none;
    margin-top: 0.75rem;
    font-weight: var(--fs-primary-700);
    color: var(--clr-primary-400);
  }
}
