<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <!-- Font Link Inter -->
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@400;600;700&display=swap" rel="stylesheet" />
    <!-- CSS Link -->
    <link rel="stylesheet" href="style.css" />
    <title>Daftar</title>
  </head>
  <body>
    <!-- Sign Card Wrapper -->
    <div class="wrapper">
      <div class="sign">
        <!-- name -->
        <div class="sign__header">Daftar</div>
        <div class="sign__google">
          <!-- ICON DISINIIIIIIIIIIIIIIII -->
          <a href="#">
            <img src="../img/Google Icon.svg" alt="google" />
            <span>Masuk Dengan Google</span>
          </a>
          <div class="sign__line"></div>
        </div>
        <!-- email input -->
        <form action="#">
          <div class="sign__nama">
            <input type="text" placeholder="Nama Pengguna" required />
            <div class="sign__icon"></div>
          </div>
          <div class="sign__email">
            <input type="text" placeholder="Email" required />
            <div class="sign__icon"></div>
          </div>
          <div class="sign__pass">
            <input type="password" placeholder="Kata Sandi" required />
            <div class="sign__icon"></div>
          </div>
          <div class="sign__pass">
            <input type="password" placeholder="Konfirmasi Kata Sandi" required />
            <div class="sign__icon"></div>
          </div>
          <!-- Ingat saya chck box -->
          <div class="sign__box">
            <input type="checkbox" />
            <span>Saya setuju dengan syarat dan privasi</span>
          </div>
          <!-- sign Button -->
          <div class="sign__button">
            <input type="submit" value="Daftar" />
          </div>
        </form>

        <!-- Break Line -->
        <div class="sign__line sign__line--neutral"></div>

        <!-- Lupa Password -->
        <div class="sign__forgot">
          <div>Sudah Punya Akun?</div>
        </div>
        <!-- Tidak Punya Akun  -->
        <div class="sign__sign">
          <a href="#">Masuk</a>
        </div>
      </div>
    </div>
  </body>
</html>
