<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <!-- Font Link Inter -->
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@400;600;700&display=swap" rel="stylesheet" />
    <!-- CSS Link -->
    <link rel="stylesheet" href="style.css" />
    <title>Daftar</title>
  </head>
  <body>
    <!-- Sign  Card Wrapper -->
    <div class="wrapper">
      <div class="conf">
        <!-- name -->
        <div class="conf__header">Kata Sandi Telah Diubah</div>
        <div class="conf__vector">
          <img class="conf__key" src="../img/Vector.png" alt="key">
          <img class="conf__elips" src="../img/Ellipse 3.svg" alt="elips">
        </div>
        <div class="conf__text">Masuk kembali dengan kata sandi baru yang telah di ubah. Jangan berikan kata sandi anda kepada siapa pun.</div>
        
  </body>
</html>
