//Custom Property
:root {
  //Blue
  --clr-primary-700: #1236aa;
  --clr-primary-400: #598cf4;
  --clr-primary-200: #a7c9fd;
  //White
  --clr-neutral-100: #ffffff;

  //Font
  --ff-primary: 'Inter', sans-serif;
  --fs-primary-700: 700;
  --fs-primary-600: 600;
  --fs-primary-400: 400;
}

// CSS Reset
*,
*::before,
*::after {
  box-sizing: border-box;
}

body,
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
  padding: 0;
  font-family: var(--ff-primary);
}

// Font Setting (Biar Ga Diulang2 aja)
div {
  font-size: 0.875rem;
}

//Placeholder
::placeholder {
  color: var(--clr-primary-200);
  //   transform: translateX(5%);
}
// ======= STYLING ===========
html,
body {
  background: var(--clr-neutral-100);
}

.wrapper {
  display: grid;
  height: 100vh;
  place-items: center;
}

.pass {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 85%;
  max-width: 600px;
  background: var(--clr-neutral-100);
  margin-inline: auto;
  padding: 1.25rem 3rem;
  border-radius: 0.5rem;
  box-shadow: 5px 5px 10px rgba(0, 103, 199, 0.158);

  //INPUT BOX
  &__header {
    font-weight: var(--fs-primary-700);
    font-size: 1.75rem;
    color: var(--clr-primary-700);
    margin-bottom: 1.75rem;
  }

  &__text {
    text-align: center;
    color: var(--clr-primary-700);
    margin: 1em auto;
  }

  // INPUT FORM
  &__email > input {
    color: var(--clr-primary-400);
    height: 2.625rem;
    width: 100%; //notice
    outline: none;
    border: 1px solid var(--clr-primary-200);
    border-radius: 6px;
    margin: 1em auto 0;
    padding-inline: 1.2rem;
    display: block;
  }

  //SIGN BUTTON
  &__button > input {
    width: 100%;
    margin-top: 1rem;
    height: 3.125rem;
    padding-left: 0;
    background: var(--clr-primary-400);
    color: var(--clr-neutral-100);
    border: none;
    font-size: 1rem;
    font-weight: var(--fs-primary-600);
    cursor: pointer;
    border-radius: 8px;
    text-align: center;
  }
}
