<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <!-- Font Link Inter -->
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@400;600;700&display=swap" rel="stylesheet" />
    <!-- CSS Link -->
    <link rel="stylesheet" href="style.css" />
    <title>Daftar</title>
  </head>
  <body>
    <!-- Sign Card Wrapper -->
    <div class="wrapper">
      <div class="pass">
        <!-- name -->
        <div class="pass__header">Atur Ulang Kata Sandi</div>
        <div class="pass__text">Masukkan email yang terdaftar. Kami akan mengirimkan kode verifikasi untuk mengatur ulang kata sandi</div>

        <!-- email input -->
        <form action="#">
          <div class="pass__email">
            <input type="text" placeholder="Email" required />
            <div class="pass__icon"></div>
          </div>

          <!-- pass Button -->
          <div class="pass__button">
            <input type="submit" value="Lanjut" />
          </div>
        </form>
      </div>
    </div>
  </body>
</html>
